.title {
  composes: h2 from global;
  margin: 0 24px 24px 24px;

  @media (--viewportMedium) {
    margin: 0 24px 32px 24px;
  }

  @media (--viewportLarge) {
    margin: 0 36px 32px 36px;
  }
}

.messagePanel,
.listingPanel {
  width: 100%;
  margin: 24px auto 0 auto;

  @media (--viewportMedium) {
    margin: 48px auto 0 auto;
  }

  @media (--viewportLarge) {
    margin: 72px auto 0 auto;
    max-width: 1128px;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
  }
}

.listingCards {
  padding: 24px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (min-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (--viewportMedium) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (--viewportLarge) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 36px;
  }
}

.buyNowButton {
  width: 150px;
  float: right;
  margin: 15px;
}

.splitView {
  display: flex;
  flex-direction: row;
}

.breakdownPanel {
  margin: 45px;
  width: 350px;
}

.deliverySelect {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}
